/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(40, 40, 40); /* Fallback color */
  background-color: rgba(40, 40, 40, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  // background-color: #520505;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  p {
    text-align: center;
  }
  form {
    display: flex;
    justify-content: space-around;
    button {
      padding: 0.5em;
      background-color: red;
      width: 10vw;
      border-radius: 10px;
      color: aliceblue;
      font-weight: bold;
      &:first-child {
        background-color: green;
      }
      &:hover{
        cursor: pointer;
      }
    }
  }
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
